<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Hackersoul.com</title>
  <meta name="keywords" content="XSS漏洞挖掘,去年跨过的客户端,客户端XSS">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/hackersoul.css">
  <link rel="shortcut icon" href="favicon.ico" type=image/x-icon>
</head>

<body>
  <div class="header">
    <img src="/img/hs_header.jpg" class="header-bg">
  </div>
  <div class="narrow-board">
    <a class="logo-container" href="/" title="FF0000 TeAm">
      <img src="/img/hs_logo.png" class="logo">
      <div class="slogan">Enjoy hacking, Enjoy life.</div>
    </a>

    <div class="md-post">
        {{ content }}
    </div>

    <div class="footer">
  <span class="copy">&copy;&nbsp;</span>2014 FF0000 TeAm. <a href="/about.html" class="red-link">About Us</a>
    </div>
  </div>
</body>
</html>